.table {
  display: table;
}

.movesRow {
  display: table-row;
}

.col {
  display: table-cell;
}

.move {
  background-color: #ffffff90;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Goldman", cursive;
  margin: 0.2rem;
}

.moveSelected {
  background-color: #44363690;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Goldman", cursive;
  margin: 0.2rem;
}
