.planetsList {
  display: flex;
  flex-direction: row;
}

input[type="radio"] {
  display:none;
}

​ input[type="radio"] + img {
  cursor: pointer;
}

.planetIcon{
  width: 7rem;
  height: 7rem;
  padding: 20px;
  margin: 10px 10px;
}

input[type="radio"]:checked + img {
  background-color: rgb(17, 7, 77);
  border-width: 2px;
  border-radius: 25px;
  border: 2px;
  width: 7rem;
  height: 7rem;
  padding: 10px;
}
