* {
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(rgba(14, 2, 58, 0.5),rgba(14, 2, 58, 0.5)),url(../../assets/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: 'Goldman', cursive;
    color: white;
  }
  

  ol, ul {
    padding-left: 30px;

  }

  .move {
    background-color: #ffffff90;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-family: 'Goldman', cursive;
    margin: 0.3rem;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .game-board {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    margin:6rem;
  }

  .game-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  