.input {
  border-radius: 25px;
  border: 0;
  padding: 0.8rem 6rem 0.6rem 0.5rem;
  font-family: "Goldman", cursive;
  margin: 1rem 0;
  background-color: #ffffff;
}
.inputNotValid {
  border-radius: 25px;
  padding: 0.8rem 6rem 0.6rem 0.5rem;
  font-family: "Goldman", cursive;
  margin: 1rem 0;
  background-color: #ffffff;
  border: 2px solid red;
}