ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.game-board {
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  margin: 6rem;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
