.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}

.splashText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 4em;
}

.form {
  display: flex;
  background-color: #C8CCDB99;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 25px;
}

h4{
  color: black;
  font-weight: 300;
}


  .title {
    font-size: 4em;
    font-weight: bold;
  }

  .subtitle {
    font-size: 2em;
    font-weight: 100;
  }